<div class="article-page">

  <div class="banner">
    <div class="container">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Réference N°</th>
                  <th scope="col">Client</th>
                  <th scope="col">Titre</th>
                  <th scope="col">Déscription</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ article.slug }}</td>
                  <td>{{ article.client.name }}</td>
                  <td>{{ article.titre }}</td>
                  <td [innerHTML]="article.body | markdown"></td>
                </tr>
              </tbody>
            </table>
      <app-article-meta [article]="article">

          <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', article.slug]">
            <i class="ion-edit"></i> Modifier
          </a>

          <button class="btn btn-sm btn-outline-danger"
            [ngClass]="{disabled: isDeleting}"
            (click)="deleteArticle()">
            <i class="ion-trash-a"></i> Supprimer
          </button>
        </span>

        <span [hidden]="canModify">
          <app-follow-button
            [profile]="article.author"
            (toggle)="onToggleFollowing($event)">
          </app-follow-button>

          <app-favorite-button
            [article]="article"
            (toggle)="onToggleFavorite($event)">
            {{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{ article.favoritesCount }})</span>
          </app-favorite-button>
        </span>

      </app-article-meta>
      <div style="text-align: right;">
        <span [ngClass]="{'red': article.status === 'Non commencée', 'yellow': article.status === 'En cours', 'green': article.status === 'Terminé'}" style="font-style: italic;color: white;padding: 2px;font-weight: 500;border-radius: 3px;padding: 5px;"> <i _ngcontent-c2="" class="fa fa-bookmark"></i> {{ article.status }}</span>
      </div>
    </div>
  </div>

  <div class="container page">

    <div class="row" id="comment-bloc">
      <div class="col-xs-12 col-md-2 offset-md-2 bloc-comment">
          <img [src]="avatar" class="comment-author-img"/>
          <p class="p-you">Vous</p>
      </div>

      <div class="col-xs-12 col-md-6">

        <div *appShowAuthed="true">
          <app-list-errors [errors]="commentFormErrors"></app-list-errors>
          <form class="card comment-form" (ngSubmit)="addComment()" style="border: 1px solid #ccc">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <!-- <angular-editor class="form-control" 
                  placeholder="Ecrire un commentaire ..."
                  rows="3"
                  [formControl]="commentControl"
                  [config]="editorConfig"
                  class="te-basic-tools"
                ></angular-editor>
                <quill-editor class="form-control"
              [options]="editorOptions">
            </quill-editor> -->

            <quill-editor 
            [formControl]="commentControl"
            placeholder="Ecrire un commentaire ..."
            [modules]="quillConfig"
            (onSelectionChanged)="onSelectionChanged($event)"
            (onContentChanged)="onContentChanged($event)"></quill-editor>
            
                <div class="list-file">
                  <p class="pj-title" *ngIf="fileList$ | async"><span>Pièces Jointes :</span></p>
                  <ol>
                  <li *ngFor="let fileName of fileList$ | async" >
                    <span style="width:100px;height: 100px;"></span>{{fileName}}&nbsp;&nbsp;
                    <span (click)="remove(fileName)"><i class="fa fa-times-circle"></i></span>
                  </li>
                  </ol>
                </div>

                <form id="addfile-form">
                    <label for="file" class="label-file"><i class="fa fa-plus-circle"></i> Choisir une image</label>
                    <input id="file" class="input-file" type="file" (change)="onFileChange($event)" multiple/>
                    <input id="upload-file-comment" type="submit" [disabled]="formGroup.invalid" value="upload" />
                   </form>
              </div>
              <div class="card-footer" >
                <button class="btn btn-sm btn-primary" type="submit" [disabled]="!commentControl.valid">
                 Commenter
                </button>
              </div>
            </fieldset>
          </form>
        </div>
       
        <div *appShowAuthed="false">
          <a [routerLink]="['/login']">Connectez-vous</a> ou <a [routerLink]="['/register']">créez un compte</a> pour commenter ce ticket.
        </div>

        <app-article-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleteComment)="onDeleteComment(comment)">
        </app-article-comment>

      </div>
    </div>

  </div>
</div>
