<!-- <h3></h3>
<h5>LOGO</h5>
<h5>COULEURS</h5>
<h5>AUTOMAILINGS</h5> -->
<div class="container">
    <div class="user-menu">
        <h2>CONFIGURATION DE L'APPLICATION</h2>
    </div>
    <p>avec leur role</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>LOGO</th>
            <th>COULEURS</th>
            <th>AUTOMAILINGS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="col-md-6 ">
                    <fieldset class="form-group">
                        <label for="technicien">Choisissez le logo de l'application</label>
                        <div class="ng-autocomplete">
                            <input class="form-control" type="file" alt="file"/>
                        </div>
                    </fieldset>
                </div>
            </td>
            <td>
                    <div class="col-md-6 ">
                            <fieldset class="form-group">
                                <label for="technicien">Choisissez les deux couleurs principale de l'application</label>
                                <div class="ng-autocomplete">
                                    <input class="form-control" type="color" alt="file"/>
                                </div>
                            </fieldset>
                        </div>
            </td>
            <td>
                    <div class="col-md-6 ">
                            <fieldset class="form-group">
                                <label for="technicien">L'adresse email qui va être en copie de tous les mails envoyé automatiquement</label>
                                <div class="ng-autocomplete">
                                    <input class="form-control" type="text" alt="file"/>
                                </div>
                            </fieldset>
                        </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

