form{
    padding: 20px;
}

select{
    height: 38px !important;
}

.form-group {
    margin-bottom: 0 !important;
}

fieldset > label {
    font-size: 10px;
}

.card-header{
    border-bottom: none !important;
}

.card{
    border: none !important;
}

.navbar-nav {
    flex-direction: unset !important;
}

.filter-title{
    font-size: 10px !important;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.tag-list{
    padding: 10px;
}

.error-messages{
    list-style-type: none;
    background-color: #eee;
}

.succes-messages{
    list-style-type: none;
    background-color: rgb(172, 255, 152);
    
}

.spinner-loading{
    text-align: center;
    background-color: #eee;

}