<div class="container">
  <div class="user-menu">
      <h2>Liste des tickets</h2>
      <button (click)="modalService.getModal('addTicketModal').open()"><i class="fa fa-plus-circle"></i> ajouter</button>
      <button (click)="modalService.getModal('importTicketModal').open()"><i class="fa fa-plus-circle"></i> importer</button>
  </div>
  <p>avec les détails</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Référence</th>
        <th>Client</th>
        <th>Description</th>
        <th>Utilisateur affécté</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ticket.slug}}</td>
        <td>{{ticket.client.name}}</td>
        <td>{{ticket.title}}</td>
        <td>{{ticket.technician.username}}</td>
      </tr>
    </tbody>
  </table>
</div>


<ngx-smart-modal #addTicketModal identifier="addTicketModal">
  <app-add-ticket></app-add-ticket>
</ngx-smart-modal>

<ngx-smart-modal #importTicketModal identifier="importTicketModal">
  <app-import-ticket></app-import-ticket>
</ngx-smart-modal>
