<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12" style="padding:0">

        <app-list-errors [errors]="errors"></app-list-errors>

        <div class="card">
            <div class="card-header">
              <i class="fa fa-info-circle"></i> Add new ticket
            </div>
        <form [formGroup]="articleForm" autocomplete="off">
            <fieldset [disabled]="isSubmitting">
              <div class="row">
                  <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6 ">
                              <fieldset class="form-group">
                                  <label for="client">Client</label>
                                  <div class="ng-autocomplete">
                                    <ng-autocomplete 
                                      [data]="clients"
                                      [searchKeyword]="keyword"
                                      (selected)='selectEvent($event)'
                                      (inputChanged)='onChangeSearch($event)'
                                      (inputFocused)='onFocused($event)'
                                      [itemTemplate]="itemTemplateClient"
                                      [notFoundTemplate]="notFoundTemplateClient"
                                      formControlName="client"
                                      placeHolder="Nom du client">                                 
                                    </ng-autocomplete>
                                     
                                    <ng-template #itemTemplateClient let-item>
                                    <a [innerHTML]="item.name"></a>
                                    </ng-template>
                                     
                                    <ng-template #notFoundTemplateClient let-notFound>
                                    <div class="no-result">Aucun résultat trouvé<br>
                                          <span> | </span><br>
                                          <button (click)="showAddClient()"><i class="fa fa-plus-circle"></i> Ajouter un client</button>
                                    </div>
                                    <div *ngIf="formAddClient === true">
                                        <form [formGroup]="clientForm" autocomplete="off" class="new-client">

                                            <fieldset class="form-group">
                                              <label for="email">Email du client</label>
                                              <input class="form-control" formcontrolname="email" placeholder="Email du client" type="text" id="email" required>
                                            </fieldset>

                                              <fieldset class="form-group">
                                                  <label for="name">Nom du client</label>
                                                  <input class="form-control" formcontrolname="name" placeholder="Nom" type="text" id="name" required>
                                              </fieldset>

                                          <input class="submit-btn" type="submit" value="Ajouter" (click)="addClient()" [disabled]="!clientForm.valid"/> ou 
                                          <input class="submit-btn cancel-btn"  type="submit" value="Annuler" (click)="cancelClient()"/>
                                        </form>
                                    </div>
                                    </ng-template>
                                    </div>
                                </fieldset>
                          </div>
                          <div class="col-md-6 ">
                              <fieldset class="form-group">
                                  <label for="source">Source</label>
                                  <select class="form-control " formControlName="source" style="height: auto" placeholder="Please select a fruit." id="source">
                                    <optgroup label="Client">
                                        <option value="Appel Client">Appel</option>
                                        <option value="Mail Client">Mail</option>
                                        <option value="Grid faillure Client">Grid faillure</option>
                                    </optgroup>
        
                                    <optgroup label="Supervision">
                                        <option value="Site Down">Site Down</option>
                                        <option value="Client Down">Client Down</option>
                                        <option value="Transmission issue">Transmission issue</option>
                                        <option value="Planned activity">Planned activity</option>
                                    </optgroup>
                                  </select>
                                </fieldset>
                          </div>
                         
                          <div class="col-md-6 ">
                              <fieldset class="form-group">
                                  <label for="cause">Cause</label>
                                  <select class="form-control " formControlName="cause" style="height: auto" id="cause">
                                    <optgroup label="Incident">
                                        <option value="Lenteur connexion">Lenteur connexion</option>
                                        <option value="Coupure connexion">Coupure connexion</option>
                                        <option value="Remplacement équipement">Remplacement équipement</option>
                                    </optgroup>
          
                                    <optgroup label="Nouvelle installation">
                                        <option value="Site survey">Site survey</option>
                                        <option value="Installation">Installation</option>
                                        <option value="Mise en ligne">Mise en ligne</option>
                                    </optgroup>
          
                                    <optgroup label="Désintallation fin de contrat">
                                        <option value="Site survey désintallation">Site survey</option>
                                        <option value="Désintallation">Désintallation</option>
                                        <option value="Retour équipement">Retour équipement</option>
                                    </optgroup>
          
                                  </select>
                                </fieldset>
                          </div>
                          <div class="col-md-6 ">
                              <fieldset class="form-group">
                                  <!-- <select class="form-control " formControlName="technician" style="height: auto">
                                    <option *ngFor="let technician of users" value="{{ technician.id }}">{{ technician.username }}</option>
                                  </select> -->
                                  <label for="technicien">Technicien affété</label>
                                  <div class="ng-autocomplete">
                                      <ng-autocomplete 
                                        [data]="users"
                                        [searchKeyword]="keywordTech"
                                        (selected)='selectEvent($event)'
                                        (inputChanged)='onChangeSearch($event)'
                                        (inputFocused)='onFocused($event)'
                                        [itemTemplate]="itemTemplateTech"
                                        [notFoundTemplate]="notFoundTemplateTech"
                                        formControlName="technician"
                                        placeHolder="Nom du technicien">                                 
                                      </ng-autocomplete>
                                      <ng-template #itemTemplateTech let-item>
                                          <a [innerHTML]="item.username"></a>
                                      </ng-template>
                                           
                                      <ng-template #notFoundTemplateTech let-notFound>
                                        <div class="no-result">Aucun résultat trouvé<br>
                                        </div>
                                      </ng-template>
                                  </div>
                                  <!-- <input class="form-control" formControlName="technician" type="text" placeholder="Technicien" (keyup)="autoCompleteTechnician()" (clickout)="hide()" id="technicien"/>
                                  <div class="autocomplete form-group" *ngIf="showUsers"  >
                                      <div class="tech_option" *ngFor="let technician of users" (click)="setTechValue(technician)" >{{ technician.username }}</div>
                                  </div> -->
                                </fieldset>    
                          </div>
                          <div class="col-md-6 ">
                              <fieldset class="form-group">
                                  <label for="titre">Titre</label>
                                  <input class="form-control "
                                    formControlName="title"
                                    type="text"
                                    id="titre"
                                    placeholder="Titre du ticket" />
                                </fieldset>
                          </div>
                          <div class="col-md-6 ">
                              <fieldset class="form-group">
                                  <label for="status">Status</label>
                                  <select class="form-control " formControlName="status" style="height: auto" id="status">
                                    <option value="Open">Open</option>
                                    <option value="In progress">In progress</option>            
                                    <optgroup label="Pending">
                                        <option value="Pending customers side">Customers side</option>
                                        <option value="Pending airtel  side">Airtel side</option>
                                    </optgroup>
                                    <option value="Close">Close</option>
                                  </select>
                                </fieldset>
                          </div>
                          <div class="col-md-12">
                              <fieldset class="form-group">
                                  <label for="tags">Tags</label>
                                  <input class="form-control"
                                    type="text"
                                    id="tags"
                                    placeholder="Mot clés"
                                    [formControl]="tagField"
                                    (keyup.enter)="addTag()" />
            
                                  <div class="tag-list">
                                    <span *ngFor="let tag of article.tagList"
                                      class="tag-default tag-pill">
                                      <i class="ion-close-round" (click)="removeTag(tag)"></i>
                                      {{ tag }}
                                    </span>
                                  </div>
                                </fieldset>
                          </div>
                          <div class="col-md-12">
                              <fieldset class="form-group">
                                  <label for="details">Détails</label>
                                  <textarea class="form-control"
                                    formControlName="body"
                                    rows="4"
                                    id="details"
                                    placeholder="Détails du ticket">
                                  </textarea>
                                </fieldset>
                          </div>

                        </div>
                  </div>

              </div>

          </fieldset>
        </form>
            
        </div>
      
        <div class="col-md-6  offset-md-1">
            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
                Ajouter
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
