<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">
          <!-- client --> 

            <fieldset class="form-group">
              <!-- <select class="form-control form-control-lg" formControlName="client" style="height: auto">
                <option *ngFor="let client of clients" value="{{ client.id }}">{{ client.name }}</option>
              </select> -->
              <input class="form-control" formControlName="client" type="text" placeholder="Client" (keyup)="autoCompleteClient()" (clickout)="hide()"/>
              <div class="autocomplete form-group" *ngIf="showClients" >
                <div class="tech_option" *ngFor="let client of clients" (click)="setClientValue(client)">{{ client.name }}</div>
              </div>
            </fieldset>

            <!-- technician -->
            <fieldset class="form-group">
              <!-- <select class="form-control form-control-lg" formControlName="technician" style="height: auto">
                <option *ngFor="let technician of users" value="{{ technician.id }}">{{ technician.username }}</option>
              </select> -->
              <input class="form-control" formControlName="technician" type="text" placeholder="Technicien" (keyup)="autoCompleteTechnician()" (clickout)="hide()"/>
              <div class="autocomplete form-group" *ngIf="showUsers"  >
                  <div class="tech_option" *ngFor="let technician of users" (click)="setTechValue(technician)" >{{ technician.username }}</div>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="title"
                type="text"
                placeholder="Titre du ticket" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="description"
                type="text"
                placeholder="Petite description" />
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control"
                formControlName="body"
                rows="8"
                placeholder="Détails du ticket">
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Mot clés"
                [formControl]="tagField"
                (keyup.enter)="addTag()" />

              <div class="tag-list">
                <span *ngFor="let tag of article.tagList"
                  class="tag-default tag-pill">
                  <i class="ion-close-round" (click)="removeTag(tag)"></i>
                  {{ tag }}
                </span>
              </div>
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
              Ajouter
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
