<div class="container">
  <div class="user-menu">
    <h2>Liste des clients</h2>
    <button (click)="modalService.getModal('addClientModal').open()"><i class="fa fa-plus-circle"></i> ajouter</button>
    <button (click)="modalService.getModal('importClientModal').open()"><i class="fa fa-plus-circle"></i> importer</button>
</div>
  <p>avec les détails</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Nombre de ticket(s) traité(s) <span class="badge  badge-blue">{{ termine }}</span></th>
        <th>Nombre de ticket(s) restant(s) <span class="badge  badge-blue">{{ restant }}</span></th>
        <th>Total ticket(s) <span class="badge  badge-blue">{{ total }}</span></th>
        <th class="center">Suspendre</th>
        <th class="center">outils</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td><img class="client-list-image" [src]="client.image || 'http://localhost:4200/assets/avatar.jpg'" alt="user-image"/></td>
        <td>{{client.name}}</td>
        <td>{{client.TicTer}}</td>
        <td>{{client.TicEnc}}</td>
        <td>{{client.Tickets.length}}</td>
        <td class="center"><input type="checkbox"></td>
        <td class="user-tools center">
          <i (click)="edit(user); modalService.getModal('editUserModal').open()" class="fa fa-pencil-alt"></i>
          <i (click)="delete(user); modalService.getModal('removeUserModal').open()" class="fa fa-trash-alt"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ngx-smart-modal #addClientModal identifier="addClientModal">
  <app-add-client></app-add-client>
</ngx-smart-modal>

<ngx-smart-modal #importClientModal identifier="importClientModal">
  <app-import-client></app-import-client>
</ngx-smart-modal>
