<div class="container">
  <h2>Liste des clients</h2>
  <p>avec les détails</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Nombre de ticket(s) traité(s)</th>
        <th>Nombre de ticket(s) restant(s)</th>
        <th>Total ticket(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.name}}</td>
        <td>{{client.TicTer}}</td>
        <td>{{client.TicEnc}}</td>
        <td>{{client.Tickets.length}}</td>
      </tr>
    </tbody>
  </table>
</div>