<div class="container">
        <div class="user-menu">
            <h2>Liste des utilisateurs avec leur role</h2>
            <button (click)="modalService.getModal('addUserModal').open()"><i class="fa fa-plus-circle"></i> ajouter</button>
            <button (click)="modalService.getModal('importUserModal').open()"><i class="fa fa-plus-circle"></i> importer</button>
        </div>
        <p>avec leur role</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Nom</th>
              <th>Email</th>
              <th>Role</th>
              <th class="center">Ticket affécté</th>
              <th class="center">Suspendre</th>
              <th class="center">outils</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of Users">
              <td class="user-list-image"><img class="user-list-image" [src]="user.image || 'http://localhost:4200/assets/avatar.jpg'" alt="user-image"/></td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.role || '-'}}</td>
              <td class="center">2</td>
              <td class="center"><input type="checkbox"></td>
              <td class="user-tools center"><i (click)="edit(user); modalService.getModal('editUserModal').open()" class="fa fa-pencil-alt"></i><i (click)="delete(user)" class="fa fa-trash-alt"></i></td>
            </tr>
          </tbody>
        </table>
      </div>

      <ngx-smart-modal #addUserModal identifier="addUserModal">
            <app-add-user></app-add-user>
      </ngx-smart-modal>

      <ngx-smart-modal #importUserModal identifier="importUserModal">
            <app-import-user></app-import-user>
      </ngx-smart-modal>

      <ngx-smart-modal #editUserModal identifier="editUserModal" (onAnyCloseEventFinished)="removeData()">
          <div *ngIf="editUserModal.hasData()">
              <pre>{{ editUserModal.getData() | json }}</pre>
              <app-edit-user [user]="editUserModal.getData()"></app-edit-user>
            </div>
          
      </ngx-smart-modal>
