<div class="auth-page" 
  style="position: absolute;
  top: 45%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-55%);">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <div style="text-align: center"><img src="./assets/a
          irtel.png" alt="airtel" style="width:100px"></div>
        <h2 class="text-xs-center">Reinitialisation</h2>
        <p class="text-xs-center">Veuillez entrez votre nouveau mot de passe</p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <ul class="error" *ngIf="resetPasswordForm.invalid && resetPasswordForm.dirty"><li>
            Les mot de passes ne correspondent pas
        </li></ul>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <label for="password">mot de passe</label>
              <input
                formControlName="password"
                class="form-control form-control-lg"
                type="password"
                id="password"
                required
              />
              <label for="confirmation_password">confirmation du mot de passe</label>
              <input
                formControlName="confirmation_password"
                class="form-control form-control-lg"
                type="password"
                id="confirmation_password"
                required
              />
              <input
              type="submit"
              [disabled]="!resetPasswordForm.valid"
              class="btn btn-lg btn-primary pull-xs-right"
              id="submit-reset"
            />
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>