<nav class="navbar navbar-light" *appShowAuthed="true">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="./assets/airtel_insigne.png" alt="airtel" style="height: 30px;float: left;"></a>

    <!-- Show this for logged out users -->

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item" *ngIf="currentUser.role === 'Manager'">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-home"></i>
          Accueil
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Tech'">
          <a class="nav-link"
            routerLink="/technicien"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-home"></i>
            Dashboard
          </a>
        </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Noc'">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="fa fa-plus-circle"></i>
          ticket
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Manager'">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          <i class="fa fa-user-plus"></i>
          utilisateur
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Manager' || currentUser.role === 'Noc'">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="fa fa-user-cog"></i>
          Configuration
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Manager' || currentUser.role === 'Noc'">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          <span id="connected-user">{{ currentUser.username }}
            <span id="connected-user-role">{{ currentUser.role }}</span>
          </span>
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Manager'">
        <a class="nav-link"
          routerLink="/admin"
          routerLinkActive="active">
          <i class="fa fa-cogs"></i>
          Admin
        </a>
      </li>

      <li class="nav-item">
        <button class="btn btn-outline-danger"
        (click)="logout()">
        <i class="fa fa-power-off"></i>
        Déconnexion
        </button>
      </li>



    </ul>

  </div>
</nav>
