<nav class="navbar navbar-light" *appShowAuthed="true">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="./assets/airtel_insigne.png" alt="airtel" style="height: 30px;float: left;"></a>

    <!-- Show this for logged out users -->

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item" *ngIf="currentUser.role === 'Manager'">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-home"></i>
          Accueil
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Tech'">
          <a class="nav-link"
            routerLink="/technicien"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-home"></i>
            Dashboard
          </a>
        </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Noc'">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="fa fa-plus-circle"></i>
          Ticket
        </a>
      </li>

      <!-- <li class="nav-item" *ngIf="currentUser.role === 'Manager'">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          <i class="fa fa-user-plus"></i>
          utilisateur
        </a>
      </li> -->

      <!-- <li class="nav-item" *ngIf="currentUser.role === 'Manager' || currentUser.role === 'Noc'">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="fa fa-user-cog"></i>
          Configuration
        </a>
      </li> -->

      <li class="nav-item" *ngIf="currentUser.role === 'Manager' || currentUser.role === 'Noc'">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          <span id="connected-user">{{ currentUser.username }}
            <span id="connected-user-role">{{ currentUser.role }}</span>
          </span>
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Manager'">
        <a class="nav-link"
          routerLink="/admin"
          routerLinkActive="active">
          <i class="fa fa-cogs"></i>
          Application
        </a>
      </li>
      <li class="nav-item" *ngIf="currentUser.role === 'Manager'">
        <a class="nav-link"
          routerLink="/report"
          routerLinkActive="active">
          <i class="fa fa-file"></i>
          Rapport
        </a>
      </li>
      <li class="nav-item" style="position: relative;">
        <button class="btn btn-outline-danger"
        (click)="showNotif()">
        <i class="fa fa-bell" aria-hidden="true"></i>
        </button>
        <div *ngIf="nbrNotif !== 0" style="position: absolute;background-color: black;color:white;bottom: -10px;right: -10px;
        padding: 0 8px;
        border-radius: 50%;">{{nbrNotif}}
        </div>
        <div 
            *ngIf="show === true"
            class="notification_container">
          <div *ngFor="let not of allNotif" class="notification_container_child">
            <a href="http://localhost:4200/ticket/{{ not.reference }}" style="display: flex">
              <div class="pdp-notification" style="flex: 2;">
                <img [src]="not.modifiedBy.image" alt="user-img"/>
              </div>
              <div class="" style="font-style: italic;flex: 8;">
                <h3 style="font-size: 18px;display:bloc;text-align: left;margin:0">{{ not.modifiedBy.username  }}
                  <span style="background-color: red;color:white;font-size: 12px;padding: 0 5px;">{{ not.modifiedBy.role }}</span></h3>
                  <span *ngIf="not.type === 'Ticket'">a modifié le ticket {{ not.reference }} : {{ not.titre }}</span>
                  <span *ngIf="not.type === 'Comment'">a commenté le ticket {{ not.reference }} : {{ not.titre }}</span>
                  <h4 style="text-align: right;">{{not.client.name}}</h4>
                <div style="
                      justify-content: space-between;
                      background-color: #bcbbbb;
                      color: white;
                      display: flex;
                      padding: 0 5px;
                  ">
                  <span>{{ not.status }}</span>
                  <span>{{ not.date | date: 'longDate' }}</span>
                </div> 
              </div>
            </a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <button class="btn btn-outline-danger"
        (click)="logout()">
        <i class="fa fa-power-off"></i>
        Déconnexion
        </button>
      </li>

    </ul>

  </div>
</nav>
