<nav class="navbar navbar-light" *appShowAuthed="true">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="./assets/airtel_insigne.jpeg" alt="airtel" style="height: 50px;float: left;">Project</a>

    <!-- Show this for logged out users -->

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-home"></i>
          Accueil
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="fa fa-plus-circle"></i>
          Nouveau ticket
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          <i class="fa fa-user-plus"></i>
          Ajouter un utilisateur
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="fa fa-user-cog"></i>
          Configuration
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser.role === 'Admin'">
        <a class="nav-link"
          routerLink="/admin"
          routerLinkActive="active">
          <i class="fa fa-cogs"></i>
          Administration
        </a>
      </li>

      <li class="nav-item">
        <button class="btn btn-outline-danger"
        (click)="logout()">
        <i class="fa fa-power-off"></i>
        Déconnexion
        </button>
      </li>



    </ul>

  </div>
</nav>
